results/experiment_0_calibration/*.npz filter=lfs diff=lfs merge=lfs -text
*.sh text eol=lf
*.sbatch text eol=lf
results/experiment_5_text_induction/**/*.png filter=lfs diff=lfs merge=lfs -text
results/experiment_5_text_induction/**/trials.jsonl filter=lfs diff=lfs merge=lfs -text
